:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --navy: hsl(216, 69%, 20%);
  --darkBeige: hsl(32, 43%, 75%);
  --beige: hsl(34, 45%, 85%);
  --lightBeige:hsl(35, 58%, 94%);

  color-scheme: light dark;
  background-color: var(--lightBeige);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1{
  font-size: 10vw;
  line-height: 14vw;
  text-align: center;
  color: var(--navy);
}

#paraOne{
  font-size: 7vw;
  line-height: 13vw;
  text-align: center;
  color: var(--navy);
}